<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>News Scraper</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
    <div class="container">
         <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Wired News Scraper</a>
      <ul id="navmobile" class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-light btn-large" href="/">Home</a></li>
        <li><a class="waves-effect waves-light btn-large" href="/save">Saved Articles</a></li>
        <li><a class="waves-effect waves-light btn-large" href="/scrape" id="scrape">Scrape Latest News</a></li>
      </ul>
    </div>
  </nav>




    {{#if mainPage}}
            <div class="main-bg"></div>
            <div class="main-strip bg-secondary">
            <h2 class="center">Get the latest news from
                <em><strong>Wired</strong></em>
            </h2>
        </div>
        {{else}}
            <div class="main-bg scrape"></div>
            <div class="main-strip bg-secondary">
                <strong><h2 class="center">{{title}}</h2></strong>
            </div>
            
        {{/if}}
        
    </header>

        {{{body}}}













</div>
 <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

 <script>

//save button event handler
   $(document).ready(function(){
     $('#modal1').modal();

    $(".save").on("click", function() {
    var thisId = $(this).attr("data-id");
    $.ajax({
        method: "PUT",
        url: "/save/" + thisId
    }).done(function(data) {
        window.location = "/"
    })
});

//delete saved articles
    $(".delete").on("click", function(){
      var thisId = $(this).attr("id");
       $.ajax({
        method: "DELETE",
        url: "/delete/article/" + thisId
    }).done(function(data) {
        window.location = "/"
    })

    });

//add comments
  //   $(".saveComment").on("click", function(){
  //      var thisId = $(this).attr("data-id");
  //      if (!$("#textarea1" + thisId).val()) {
  //       alert("please enter a note to save")
  //   }else {
  //     $.ajax({
  //       method: "POST",
  //       url: "/save/comments/" + thisId,
  //       data: {
  //         text: $("#textarea1" + thisId).val()
  //       }.done(function(data) {
  //             // Log the response
  //             console.log(data);
  //             // Empty the notes section
  //             $("#textarea1" + thisId).val("");
  //             $(".modalNote").modal("hide");
  //             window.location = "/saved"
  //         })
  //     })
  //   }
  // });

    //Handle Save Note button
$(".saveComment").on("click", function() {
    var thisId = $(this).attr("data-id");
    if (!$("#textarea1" + thisId).val()) {
        alert("please enter a note to save")
    }else {
      $.ajax({
            method: "POST",
            url: "/save/comments/" + thisId,
            data: {
              text: $("#textarea1" + thisId).val()
            }
          }).done(function(data) {
              // Log the response
              console.log(data);
              // Empty the notes section
              $("#textarea1" + thisId).val("");
              $(".#modal1").modal("hide");
              window.location = "/save"
          });
    }
});



//delete comments
    

    });

 </script>
          
</body>
</html>